{% load static %}

<!--<video width="100%" height="100%" controls autoplay>-->
<!--  <source src="{% static 'videos/oil.webm' %}" type="video/mp4"> </source>-->
<!--</video>-->

<!--<iframe width="880" height="480" src="https://www.youtube.com/embed/diRlfnHDZc8?autoplay=1">-->
<!--</iframe>-->

<iframe width="100%" height="100%" src="https://www.youtube.com/embed/diRlfnHDZc8?autoplay=1">
</iframe>

<!--<div class="video-container"><iframe width="880" height="480"  src="https://www.youtube.com/embed/diRlfnHDZc8?autoplay=1"  frameborder="0" allowfullscreen</iframe</div>-->

