{% extends "base/base.html" %}

{% load static %}

{% block title %}Events{% endblock %}

{% block content %}


          <div class="hero-wrap" style="background-image: url({% static 'images/ee.jpeg' %});" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6,  }" style="color: #2df84f;">Life’s most persistent and urgent question is, what are you for others? Great Martin Luther King </h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'ayep:video' %}" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"> watch video</span></a></p>
              </div>
            </div>
          </div>
        </div>


    <section class="ftco-section">
      <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url({% static 'images/IMAGE03.jpg' %});">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">System cleaning</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> River side</span></p>
                        <p>Cleaning the water passage to the community.</p>
                        <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url({% static 'images/person6.png' %});">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Checking boreholes</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Upper boreholes</span></p>
                        <p>Testing the quality of water from boreholes.</p>
                        <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url({% static 'images/person10.png' %});">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Checking quality of river water</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Nile River</span></p>
                        <p>The water passes via river Nile down to the valley.</p>
                        <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url({% static 'images/IMAGE03.jpg' %});">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">System cleaning</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> River side</span></p>
                        <p>Cleaning the water passage to the community.</p>
                        <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url({% static 'images/person6.png' %});">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Checking boreholes</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Upper boreholes</span></p>
                        <p>Testing the quality of water from boreholes.</p>
                        <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20" style="background-image: url({% static 'images/person10.png' %});">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mb-4"><a href="#">Checking quality of river water</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Nile River</span></p>
                        <p>The water passes via river Nile down to the valley.</p>
                        <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row mt-5">-->
        <!--  <div class="col text-center">-->
        <!--    <div class="block-27">-->
        <!--      <ul>-->
        <!--        <li><a href="#">&lt;</a></li>-->
        <!--        <li class="active"><span>1</span></li>-->
        <!--        <li><a href="#">2</a></li>-->
        <!--        <li><a href="#">3</a></li>-->
        <!--        <li><a href="#">4</a></li>-->
        <!--        <li><a href="#">5</a></li>-->
        <!--        <li><a href="#">&gt;</a></li>-->
        <!--      </ul>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </section>


{% endblock %}